@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

body {
    background: #d4c9fd;
    box-sizing: border-box;
}

.App {
    max-width: 1244px;
    width: 100%;
    margin: 3em auto;
    font-size: 16px;
    font-family: 'Comfortaa', cursive;
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
}

.student-card {
    max-width: 350px;
    width: 100%;
    padding: 1.5em 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #d4c9fd;
    box-shadow:  7px 7px 25px #b4abd7,
             -7px -7px 25px #f4e7ff;
}

.student-card__h1 {
    margin: 0;
    margin-bottom: 1em;
    font-size: 1.5em;
    text-align: center;
}

.students-card__p {
    margin: 0.5em;
}